/* Universal Styling */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

li {
    margin-left: 5%;
    text-align: left;
}

a {
    color: yellow;
    font-size: 1.5rem;
}

a:hover {
    font-size: 2rem;
}

a:visited {
    color: red;
}
/* practiceGrid.html  */

    /* CSS Tricks - Getting started w/ Grid */
    /* .wrapper {
        display: grid;
        width: 100%;
        height: 100%;

        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        gap: 5px 5px;
        background-color: darkred;
    }

    .letter{
        background-color: #0069b3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 70px;
        color: white;
        line-height: 1;
        font-family: 'hobeaux-rococeaux-background', Helvetica;
        font-weight: 200;
        cursor: pointer;
        transition: all .3s ease;
    } */

    /* Chrome DevTools - Inpsecting Grid Layout
    .fruit-Box-title {
        text-align: center;
        font-size: 3rem;
    }

    .fruit-Box {
        width: 80%;
        height: 80%;
        margin: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: 
            [left] 1fr
            [middle1] 1fr
            [middle2] 1fr
            [right];    
    }

    .fruit {
        font-size: 3rem;
    }

    .apple {
        background-color: darkred;
    }

    .kiwi {
        background-color: darkgreen;
    }

    .mango {
        background-color: orangered;
    }

    .orange {
        background-color: darkorange;
        grid-column: left / right;
    } */

    /* TOP Lesson Overview for Positioning Grid
    .container {
        width: 80%;
        height: 80%;
        margin: auto;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    .item {
        background-color: orange;
        border: 1px solid black;
        color: black;
        text-align: center;
    }

    .first-row {
      background-color: pink;
    }

    .last-column {
      background-color: lightblue;
    }

    .container-2 {
        width: 80%;
        height: 80%;
        margin: auto;
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(5, 1fr);
        background-color: lightblue;
    }

    .room {
        border: 1px solid;
        font-size: 2rem;
        text-align: center;
    }

    #living-room {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #kitchen {
        grid-column: 4 / 6;
        grid-row: 3 / 6;
    }

    #bedroom {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    #bathroom {
        grid-column: 3 / 4;
        grid-row: 3 / 6;
    }

    #closet {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    } */
    
    /* MDN - Grid Layout using line-based placement
    .wrapper {
        width: 90%;
        height: 90%;
        margin: auto auto auto auto;
        background-color: darkgray;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 1em;
    }

    .item {
        outline: 1px solid black;
        background-color: darkred;
    }

    .box1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 3;
    }
    .box2 {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .box3 {
        grid-column: 2;
        grid-row: 1;
    }
    .box4 {
        grid-column: 2 / 4;
        grid-row: 3;
    }
    .box1 {
        grid-column-start: 1;
        grid-row-start: span 3;
        grid-row-end: 4;
    } */

    /* TOP - Advanced Grid Properties Lesson
    .grid-container {
        height: 80%;
        width: 80%;
        resize: both;
        overflow: auto;
        margin: auto;
        display: grid;
        gap: 4px;
        padding: 4px;
        border: 1px solid gray;
        background-color: skyblue;
        grid-template-rows: repeat(2, min(200px, 50%));
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .grid-item {
        background-color: #444;
        text-align: center;
        color: #ddd;
        font-family: sans-serif;
        font-size: 1.5rem;
        padding: 12px;
    }

    p {
        margin: 12px auto 24px;
    }

    img {
        height: 60px;
    } */

    /* TOP - Flexbox and Grid */
    .layout {
    resize: both;
    overflow: auto;
    height: 50%;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    }

    .child {
    background: orange;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    }

    .last-row {
    grid-column: 1 / 3;
    }

    .child > div {
    height: 50px;
    background: darkred;
    flex: 0 1 30%;
    }
