/* Importing Fonts */
@font-face {
  font-family: "Aleo";
  src:
    url("webFonts/Aleo-Regular.woff2") format("woff2"),
    url("webFonts/Aleo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("webFonts/Roboto-Regular.woff2") format("woff2"),
    url("webFonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* General setup */

html {
  font-size: 10px;
  margin: 0;

  font-family: "Mystery Quest" "Roboto", "Aleo", sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}